[Desktop Entry]
Version=0.1
Name=YTmusic Fire
GenericName=YouTube Music
Keywords=Music;Media;YouTube;yt
Exec=ytmusicfire
Terminal=false
Type=Application
StartupNotify=true
Categories=AudioVideo;Player;Audio;
